* {
    box-sizing: border-box;
  }
  
body {
    margin: 5px;
  }

body, html {
    height: 100%;
    font-family:'Josefin Slab', serif;
}


.top-bar, .top-bar ul {
    display: flex;
    align-content: space-around;
    height: 50px;
    background-color: white;
}

.centerLogo img {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    color: white;
    border-radius: 50px;
    opacity: .9;
  }

/* The hero image */
.hero-image {
  
  background-image: url("/Users/caitlintighe/Desktop/recipe_gen/img/hero.jpg");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
}

.header-icon {
    padding-top: 10px;
    padding-right: 10px;
    width:110px;
    height:100px;
}

.menu .menu-text {
    font-size: 30px;
    color: black;
    font-family:'Josefin Slab', serif;
    opacity: .8;
    font-weight: lighter;
    padding-top: 18px;
}

a {
    display: flex;
    align-content: flex-end;
    font-size: 24px;
    font-family:'Josefin Slab', serif;
    color: black;
}

form {
    padding: 50px;
   
}

