* {
    box-sizing: border-box;
    
  }
  
body {
    margin: 0;
}


body, html {
    height: 100%;
    font-family:'Josefin Slab', serif;
}


.menu-text a {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
}

a:hover {
    color:#1779ba;
}


.top-bar, .top-bar ul {
    
    height: 50px;
    background-color: white;
}

.menu .menu-text {
    font-size: 30px;
    color: black;
    font-family:'Josefin Slab', serif;
    opacity: .8;
    font-weight: lighter;
    
}


.centerLogo img {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    color: white;
    border-radius: 50px;
    opacity: .9;
  }

/* The hero image */
.hero-image {
  
  background-image: url("/Users/caitlintighe/Desktop/recipe_gen/img/hero.jpg");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}
a {
    
    font-size: 24px;
    font-family:'Josefin Slab', serif;
    color: black;
}

.form {
    height: 400px;
    width: 660px;
    padding: 50px;
    margin: auto;
    position: relative;
    
    
}

label, legend {
    font-size:18px;
}

.button.expanded {
    padding: 10px;
    font-size: 24px;
    font-weight: 400;
}

.button.expanded:hover {
    color: #1779ba;
    background-color: white;
}
#btnAdd {
    background-color: #1779ba;
    color: white;
    border: none;
    
}

#btnAdd:hover {
    color: #1779ba;
    background-color: white;
    

